<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="static/css/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <title>yiwen song</title>

        <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/yiwen_dot_date_img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/yiwen_dot_date_img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/yiwen_dot_date_img/favicon/favicon-16x16.png">
        <link rel="manifest" href="https://storage.googleapis.com/yiwen_dot_date_img/favicon/site.webmanifest">
        <link rel="mask-icon" href="https://storage.googleapis.com/yiwen_dot_date_img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="https://storage.googleapis.com/yiwen_dot_date_img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="https://storage.googleapis.com/yiwen_dot_date_img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        {% endblock %}
    </head>
    <body> 
        <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
    </body>
</html>
